.slide {
    margin-top: 15px;
}

.slide img {
    height: 60vh;
    width: 80vh;
}

.mess {
    padding-top: 40px;
    text-align: center;
}

.tittle {
    font-size: 40px;
    font-weight: bold;
}

.mess p{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}