/* -----default settings-----  */
* {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

:root {
    --blue: #2390f5;
    --white: #ffffff;
}

/* img {
    max-width: 100%;
    max-height: 100%;
    ;
}

ul {
    padding: 0;
    list-style: none;
} */


/* ----- navbar ----- */
.navbar-brand {
    margin-bottom: 0.4em;
    margin-left: 1em;
}

.btn-chat {
    background-color: var(--blue);
    color: #ffffff;
    border-radius: 25px;
    padding: 10px 20px;
}

.btn-chat:hover {
    background-color: #2b6eac;
    color: var(--white);
}

.bi-chat-left-dots {
    padding-right: 8px;
}

.nav-link::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--blue);
    margin: auto;
    display: block;
}

.nav-link:hover::after {
    width: 100%;
    transition: width 0.2s linear;
}


/* ----- carousel ----- */
.carousel-inner {
    display: flex;
    align-items: center;
    max-height: 70vh;
    overflow: hidden;
}


/* ----- What We Do ----- */
.titulo {
    font-size: 2.2em;
    font-weight: bold;
    padding: 0.25em;
    position: relative;
}

.titulo::after {
    content: '';
    position: absolute;
    bottom: 0.05em;
    right: 50%;
    width: 2.3em;
    height: 0.08em;
    background-color: #9d2251;
    border-radius: 0.2em;
  }

.parrafo {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}


/* ----- cards ----- */
.card {
    padding: 0;
    padding-top: 2em;
    margin: 2em;
    min-width: 10em;
}

.card-icon {
    position: absolute;
    top: -2em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9E8FE;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    align-self: center;
}

.card-icon img {
    height: 3em;
    width: auto;
}

.btn-rounded {
    width: 6em;
    border-radius: 30px;
}

/* ----- Section Img + About Us ----- */

.imagedoc {
    width: 35em;
    border-radius: 50%;
}

@media (max-width: 991px) {
    .imagedoc {
        display: none;
    }
}

.aside {
    display: flex;
    flex-direction: column;
}

.titulo-aside {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 0.25em;
    position: relative;
}

/* Problema para hacer responsivo el subrayado de About Us */
/* 
.titulo-aside::after {
    content: '';
    position: absolute;
    bottom: 0.05rem;
    right: 84%;
    width: 2.6em;
    height: 0.08em;
    background-color: #9d2251;
    border-radius: 0.2em;
} */


/* Aca termina el problema */

.lista-ord {
    list-style-type: none;
    position: relative;
    margin-left: -20px;
}

.lista-ord li {
    position: relative;
    margin-bottom: 20px;
}

.lista-ord li::before {
    content: "";
    position: absolute;
    top: 0.1rem;
    left: -1rem;
    width: 1rem;
    height: 1rem;
    background-color: #9d2251;
    border-radius: 50%;
}


.lista-ord li::after {
    content: "";
    position: absolute;
    top: 0.1rem;
    left: -0.5rem;
    width: 1px;
    height: 8rem;
    padding-bottom: 1rem;
    background-color: #9d2251;
}

.parrafo-aside {
    font-size: 16px;
    margin-right: 3rem;
}

.lista-ord p{
    font-size: 16px;
    justify-content: start;
    margin-left: 1.5rem;
}

.subtitulo{
    font-weight: normal;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitulo-lista{
    font-size: 1em;
    font-weight: bold;
    margin-left: 0.5rem;
}


/* ----- Section Why Choose Health+ ----- */
/* .WhyChooseHealth {
    margin-top: 3em;
    margin-bottom: 3em;

}

.WhyChooseHealth .imagenes {
    position: relative;
}

.WhyChooseHealth .card {
    position: absolute;
    width: 32%;
    height: 40%;
    right: 0;
    bottom: 0;
    padding: 0;
}


.WhyChooseHealth .card-title{
    font-size: 100%;
}

.WhyChooseHealth .card img{
    width: 30%;
}

.WhyChooseHealth .content {
    padding: 3em;
}
 */

/* ----- Section Doctors ----- */

.card-doctors {
    padding-top: 0;
}

.card-title-doctors {
    text-align: start;
    margin-bottom: 0;
}

.bi-star-fill {
    color: #ffc107;
}

.card-text-doctors {
    font-size: 16px;
}

.review-doctors,
.review-doctors span,
.review-doctors i {
    font-size: 16px;
}


/* ----- footer ----- */

.footer {
    background-color: #1B2433;
    color: white;
    padding-top: 4em;
    padding-left: 2em;
    padding-right: 2em;
}

.footerDescription {
    padding-right: 2em;
}

.footerDescription p {
    padding-top: 2em;
}

.btn-subscribe {
    position: relative;
    margin-bottom: 1em;
}

.btn-subscribe button {
    position: absolute;
    right: 0;
    top: 0;
}

.footer ul{
    padding: 0;
    list-style: none;
}

.links a {
    color: white;
    text-decoration: none;
}

.bar {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px #3a4b68;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.bar p {
    margin: 0;
}

.bar i {
    margin-left: 1em;
}


/* -----Button back to top----- */
#buttonToTop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--blue);
    color: white;
    cursor: pointer;
    padding: 14px 20px;
    border-radius: 5px;
}